# Core Python Syntax

- Python names ("variables") and typing
- Control structures & looping: if/elif/else/while/for
- Python data structures: numbers, strings, lists, sets, dicts, tuples
- Python functions, variables, and scoping rules

# Python names and typing

## Python can be used as a desk calculator

In [ ]:
2 ** 38

In [ ]:
1 + 5

## Arithmetic operators

- `+` - addition
- `-` - subtraction
- `*` - multiplication
- `/` - division
- `%` - modulo division (remainder)
- `//` - "floor division"
- `**` - exponentiation

## Bitwise operators

- `&` - bitwise and
- `|` - bitwise or
- `^` - bitwise exclusive-or (xor)
- `~` - bitwise inversion

## In-place operators

The syntax `x OP= y` means `x = x OP y`, so you can do quick updates to names by typing things like

```python
x += 10
```

Note that Python does *not* have the syntax `x++` for increment (use `x+=1` instead)

## *names* can be *bound* to *values*

In [ ]:
x = 5  # the name "x" is bound to the value 5

In [ ]:
x + 2

In [ ]:
x += 10
x

## Python *names* are untyped (by default), but the *values* have types

Python names aren't really "variables" as in other languages; they're more like "pointers" or "references"

In [ ]:
x = "Prince"

In [ ]:
x

In [ ]:
x + 1999

In [ ]:
x + str(1999)

In [ ]:
y = x
y

In [ ]:
x = x + str(1999) # binds 'x' to the value 'Prince1999' but does *not* modify 'y'
x

In [ ]:
y

# Control structures

- Block structure via indentation
- `if`/`elif`/`else` - conditional execution
- `while` - basic looping
- `for` - iteration through objects

In [ ]:
x = 1999
# x = 2000
# x = 2001
# x = float('nan')

In [ ]:
if x < 2000:
    print('Pre-milennial')
elif x == 2000:
    print('Millenial!')
elif x > 2000:
    print('Post-milennial')
else:
    print('x is weird')

In [ ]:
x = 0
while x < 10:
    print("x = ", x)
    x = x + 1

In [ ]:
range(10)

In [ ]:
for x in range(10):
    print(x, end=' ')

In [ ]:
for x in range(5, 10):
    print(x, end=' ')

In [ ]:
for x in range(0, 10, 2):   # i+= 2
    print(x, end=' ')

In [ ]:
for x in range(9, -1, -2):
    print(x, end=' ')

# Data structures: numbers

Python has 3 built-in numeric types:

- `int` - integers of unbounded precision
- `float` - double-precision floating point numbers
- `complex` - complex numbers (not as widely used)

All number values in Python are **immutable** (`x += 5` creates a *new* number value and assigns `x` to it)

In [ ]:
# Integers
x = 100
type(x)

In [ ]:
# Unbounded precision
x ** 500

In [ ]:
f'{10 / 3:.5f}'

In [ ]:
0.1 * 3

In [ ]:
0.3 == 0.1 * 3

In [ ]:
# Convenient literal formatting
10_00_00_000

In [ ]:
# Other data formats
0o777

In [ ]:
0xff

In [ ]:
0b1010

In [ ]:
oct(511), hex(255), bin(10)

In [ ]:
x = 3.14
type(x)

In [ ]:
x = 0.3
y = 0.1 * 3
x, y

In [ ]:
x == y

In [ ]:
3.14e-4

In [ ]:
float('nan')

In [ ]:
float('inf')

In [ ]:
-float('inf')

In [ ]:
# Complex
x = 1.0j * 1j
x

In [ ]:
x.real

In [ ]:
x.imag

# Data structures: boolean

In [ ]:
x = True
type(x)

In [ ]:
if x:
    print('x is truthy')
else:
    print('x is falsy')

In [ ]:
True, False

## Comparison operators

- `<` - strictly less than
- `<=` - less than or equal to
- `>` - strictly greater than
- `>=` - greater than or equal to
- `==` - equal to (value comparison)
- `!=` - not equal to

## Boolean operators

- `and` - logical and
- `or` - logical or
- `not` - logical not

Note that boolean operators use *short-circuit evaluation*:

In [ ]:
x = 10
x < 20 or print('X is large!')

In [ ]:
x > 20 and print('X is large!')

## Conditional expressions

Similar to the ternary operator in other languages (e.g. `size = x < 20 ? 'small' : 'large`)

In [ ]:
size = 'small' if x < 20 else 'large'
size

# Data Structures: `NoneType`

Python's NULL value is called `None`, and it is an singleton

In [ ]:
x = None
y = None

In [ ]:
x is y

Object identity can be compared using the `is` operator, and it is commonly used to compare to `None`:

In [ ]:
if x is None:
    print('x is None!')

## Data Structures: string

Note that Python strings are *immutable* and *unicode-aware*

In [ ]:
# Python strings can be single- or double- quoted
x = 'This is a valid Python string'
y = "So is this, isn't it?"
z = 'Special characters like newline (\n) and quote (\') can be escaped'
print(x, y, z, sep='\n')

In [ ]:
# Python strings can extend over multiple lines, but they must be "triple-quoted"
print("""This is a fine Python string, 
even though it extends
over multiple lines.""")
print('''Triple-single quotes work, as well, 
and you can embed any other kind of quote 
without escaping: '' "" """  ''')

Strings can be "sliced" to retrieve a single-character string or a substring

In [ ]:
x = 'The quick brown fox jumps over the lazy dog'
x[0] # zero-based

In [ ]:
x[-1]  # negative indexes mean to start at the end and work backwards

String slicing for substrings

In [ ]:
x[0:3]

In [ ]:
# If you omit a part of a slice, Python "fills in" a value that makes sense
x[:3] # fill in the start of the string

In [ ]:
x[-3:]  # fill in the end of the string

In [ ]:
# Get even characters
x[::2]

In [ ]:
# Get odd characters
x[1::2]

In [ ]:
x[::-1]

String concatenation

In [ ]:
"This is " + "just fine."

String duplication

In [ ]:
'-' * 10

Other string-y things

In [ ]:
# Raw strings: ignores most backslashes so you can create strings with 
#   backslashes (useful for regular expressions)
print(r'This string contains a backslash (\), but I don\'t have to escape it')

In [ ]:
# Bytestrings ('bytes' object) - 8-bit stringlike data
print(b'This is a bytes object. It looks like a string, but it is not.')

In [ ]:
# Iteration over strings iterates over each letter
for letter in x:
    print(letter, end=' ')

## Data Structures: list

Lists are
- dynamically typed
- mutable
- variably-sized
- ordered

In [ ]:
lst = [1,2,'foo']   # mixing types is fine (though uncommon)

In [ ]:
lst.append(5)
lst

In [ ]:
# Lists can be sliced just like strings
lst[:2]

In [ ]:
lst[3]

In [ ]:
lst[3] = 'five'    # replace the value in position #5

In [ ]:
lst

In [ ]:
lst2 = list(range(10))
lst2

In [ ]:
lst2[1:-1] = ['foo']
lst2

In [ ]:
lst + [10, 11]  # List concatenation

In [ ]:
lst

In [ ]:
lst.extend([12, 13])
lst

In [ ]:
list('Some string')   # the `list` function can make lists of any iterable object

In [ ]:
# Iteration over lists iterates over each element
for element in lst:
    print(element)

## Data Structures: tuple

Tuples are:

- dynamically typed
- immutable
- ordered

Typically used to represent:

- multiple attributes of a single item (x, y coordinates, file stat output, etc.)
- "multiple returns" from functions (return a tuple of results)

In [ ]:
tup = 1, 2, 3, 4, 5
tup

In [ ]:
tup[0]

In [ ]:
print(1, 2, 3)

In [ ]:
print((1, 2, 3))

In [ ]:
tup[2:4]

In [ ]:
tup + ('one', 'two')  # creates a new tuple

In [ ]:
orig_tup = tup
tup += ('one', 'two')  # so does this
tup

In [ ]:
orig_tup

In [ ]:
# 0-length tuple
()

In [ ]:
# 1-length tuple
1,

In [ ]:
# Iteration over tuples iterates over each element
for element in tup:
    print(element)

It is possible to modify the __elements__ of a tuple:

In [ ]:
x = ([],)
x

In [ ]:
x[0].append(5)

In [ ]:
x

In [ ]:
x[0] = [5]

In [ ]:
x[0].extend([1,2])

In [ ]:
x

In [ ]:
x[0] += [3,4]

In [ ]:
x

## Data Structures: set

Sets are:

- dynamically typed
- mutable (unless `frozenset`)
- unordered

Set elements are unique

In [1]:
evens = {2, 4, 6, 8}
odds = {1, 3, 5, 7, 9}
primes = {2, 3, 5, 7}

In [2]:
evens.add(10)
evens

{2, 4, 6, 8, 10}

In [3]:
evens.add(4)
evens

{2, 4, 6, 8, 10}

In [5]:
evens.remove(10)
evens

KeyError: 10

In [6]:
evens.discard(10)  # remove, or ignore if missing
evens

{2, 4, 6, 8}

In [7]:
evens | odds    # set union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
evens & primes    # set intersection

{2}

In [9]:
odds ^ primes     # set exclusive-or

{1, 2, 9}

In [10]:
odds - primes     # set subtraction

{1, 9}

In [12]:
odd_primes = odds & primes
odd_primes < odds   # proper subset

True

In [13]:
odd_primes <= odd_primes

True

In [14]:
odd_primes < odd_primes

False

In [15]:
# empty set
set()

set()

In [16]:
type({})

dict

In [17]:
# Iteration over sets iterates over each element
for element in evens:
    print(element)

2
4
6
8

In [19]:
import random
lst = [random.randint(0, 10) for i in range(100)]

In [21]:
list(set(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
5 in evens

False

In [24]:
5 in list(evens)

False

## Data Structures: dict

dictionaries ("`dict`s") are
- dynamically typed
- mutable
- somewhat ordered

...mappings between keys and values.

Dict keys must be "hashable" (generally means immutable, so numbers, strings, and tuples are fine; lists, sets, and other dicts are not)

In [27]:
dct = {'one': 1, 2: 'two', 3.14: 'pi'}
dct

{'one': 1, 2: 'two', 3.14: 'pi'}

In [30]:
# dicts are iterated in their insertion / creation order in Python 3.6+. 
# Iteration iterates over the *keys* of the dictionary
for key in dct:
    print(key)

one
2
3.14

In [ ]:
# We can also iterate over values or (key, value) tuples with dict methods:

In [31]:
for value in dct.values():
    print(value)

1
two
pi

In [32]:
for tup in dct.items():
    print(tup)

('one', 1)
(2, 'two')
(3.14, 'pi')

In [33]:
# More commonly:
for key, value in dct.items():
    print(key, value)

one 1
2 two
3.14 pi

In [34]:
# Correct but non-Pythonic
for key in dct.keys():
    print(key, dct[key])

one 1
2 two
3.14 pi

In [35]:
dct[4] = {
    'Something else': 'entirely'
}

In [36]:
dct

{'one': 1, 2: 'two', 3.14: 'pi', 4: {'Something else': 'entirely'}}

In [37]:
dct[2] = 2.0

In [38]:
dct['pi'] = '3.14'

In [39]:
dct

{'one': 1, 2: 2.0, 3.14: 'pi', 4: {'Something else': 'entirely'}, 'pi': '3.14'}

## Membership tests

The `in` keyword is used to determine whether an item is contained in a collection.

In [42]:
'foo' in 'foobar'   # substring

True

In [43]:
1 in [1,2], 1 in (1, 2), 1 in {1, 2}

(True, True, True)

In [44]:
10 in [1,2], 10 in (1, 2), 10 in {1, 2}

(False, False, False)

In [45]:
# Dict membership tests *keys*, not *values*
dct = {'one': 1, 2: 'two'}
dct

{'one': 1, 2: 'two'}

In [46]:
'one' in dct

True

In [47]:
'two' in dct

False

In [48]:
'two' in dct.values()

True

In [49]:
dct.values() | dct.keys()

{1, 2, 'one', 'two'}

In [50]:
dct

{'one': 1, 2: 'two'}

In [51]:
dct.get('three', 4)

4

In [52]:
dct.get('one', 4)

1

In [57]:
letters = {}   # letter: [letter...]
s = 'This is a good string to start with'
for letter in s:
    lst = letters.get(letter, [])
    lst.append(letter)
    letters[letter] = lst
letters

{'T': ['T'],
 'h': ['h', 'h'],
 'i': ['i', 'i', 'i', 'i'],
 's': ['s', 's', 's', 's'],
 ' ': [' ', ' ', ' ', ' ', ' ', ' ', ' '],
 'a': ['a', 'a'],
 'g': ['g', 'g'],
 'o': ['o', 'o', 'o'],
 'd': ['d'],
 't': ['t', 't', 't', 't', 't'],
 'r': ['r', 'r'],
 'n': ['n'],
 'w': ['w']}

In [59]:
letters = {}   # letter: [letter...]
s = 'This is a good string to start with'
for letter in s:
    letters.setdefault(letter, []).append(letter)
letters

{'T': ['T'],
 'h': ['h', 'h'],
 'i': ['i', 'i', 'i', 'i'],
 's': ['s', 's', 's', 's'],
 ' ': [' ', ' ', ' ', ' ', ' ', ' ', ' '],
 'a': ['a', 'a'],
 'g': ['g', 'g'],
 'o': ['o', 'o', 'o'],
 'd': ['d'],
 't': ['t', 't', 't', 't', 't'],
 'r': ['r', 'r'],
 'n': ['n'],
 'w': ['w']}

## Length 

Python collections have a length which is accessed via the `len` builtin function:

In [61]:
x = 'some string'
len(x)

11

In [62]:
len(lst)

2

In [63]:
len(tup)

2

In [64]:
len(dct)

2

In [65]:
len(evens)

4

## "Truthiness" in Python

When using `while`, `if`, and `elif`, or the boolean operators `and`, `or`, and `not`, Python converts expressions to boolean types. If a value is converted to `True`, we say that value is "truthy," otherwise it is "falsey".

Most values are truthy. Falsey values are:

- `False`
- `None`
- `0`, `0.0`, `0j`
- `''`
- empty collections (where len(value) == 0)
- User-defined types ("classes") can use custom behavior (but don't worry about this yet)

In [66]:
bool([]), bool([1])

(False, True)

In [67]:
x = ''
if x:
    print('truthy')
else:
    print('falsey')

falsey

## Calling Python functions

Python functions are called using the "call operator" (parentheses):

In [68]:
# function name (no call happens)
print

In [69]:
# function call (no arguments)
print()

In [70]:
# function call (with arguments)
print(1, 2, 3)

1 2 3

Functions arguments can be passed *positionally* (as above) or *by name* (sometimes called 'keyword arguments):

In [72]:
print(1, 2, 3, sep='-', end='<<EOL>>')

1-2-3<<EOL>>

## Defining Python functions

The `def` keyword is used to create a Python function:

In [75]:
def greet(name):
    print('Hello there,', name)
    name = 'Class'

In [76]:
name = 'Rick'
greet(name)
# greet('Rick')

Hello there, Rick

In [77]:
name

'Rick'

In [78]:
greet(name='Rick')

Hello there, Rick

In [79]:
def menu(appetizer, entree, dessert):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [80]:
menu('samosas', 'palak paneer', 'gulab jamun')

Your menu:
For an appetizer, samosas
For your entree, palak paneer
For dessert, gulab jamun

In [81]:
# Keyword arguments may be called in any order
menu(
    dessert='gulab jamun',
    appetizer='samosas', 
    entree='palak paneer', 
)

Your menu:
For an appetizer, samosas
For your entree, palak paneer
For dessert, gulab jamun

Functions can have *default arguments* defined:

In [82]:
def menu(appetizer, entree, dessert='Mysore pak'):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [83]:
menu('samosas', 'biryani')

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, Mysore pak

### Potential pitfall: mutable default arguments

In [88]:
def menu(appetize, entree, dessert='Mysore pak', extras=None):
    if extras is None:
        extras = []
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)
    extras.append('foo')
    for e in extras:
        print('Extra: ', e)

SyntaxError: non-default argument follows default argument (<ipython-input-88-578a8c77bbbc>, line 1)

In [86]:
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo

In [87]:
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo
Extra:  foo

If you have a `tuple` or `list` of arguments, these can be 'unpacked' when calling a function using the `*` operator:

In [89]:
def menu(appetizer, entree, dessert='Mysore pak'):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [90]:
lst = ['samosas', 'biryani', 'gulab jamun']
menu(lst[0], lst[1], lst[2])

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, gulab jamun

In [91]:
menu(*lst)

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, gulab jamun

If you have a `dict` of arguments, these can be 'unpacked' using the `**` operator:

In [93]:
dct = {
    'appetizer': 'pakoda',
    'entree': 'palak paneer',
    'dessert': 'gulab jamun',
}
menu(
    appetizer=dct['appetizer'],
    entree=dct['entree'],
    dessert=dct['dessert'],
)

Your menu:
For an appetizer, pakoda
For your entree, palak paneer
For dessert, gulab jamun

In [94]:
menu(**dct)

Your menu:
For an appetizer, pakoda
For your entree, palak paneer
For dessert, gulab jamun

You can *define* a function which takes variable arguments (or keyword arguments) similarly:

In [95]:
def print_invitations(*attendees):
    print('The following people are invited:')
    for a in attendees:
        print('-', a)

In [96]:
print_invitations('Rick', 'Kirby')

The following people are invited:
- Rick
- Kirby

In [97]:
lst = ['Rick', 'Kirby']
print_invitations(*lst)

The following people are invited:
- Rick
- Kirby

In [98]:
def print_invitations(*attendees, **credits):
    print('The following people are invited:')
    for a in attendees:
        print('-', a)
    print('Thanks to the following people:')
    for role, name in credits.items():
        print('- to', name, 'for', role)

In [101]:
print_invitations('Rick', 'Kirby', 'Sheetal', cooking='Matthew', entertainment='Anna')

The following people are invited:
- Rick
- Kirby
- Sheetal
Thanks to the following people:
- to Matthew for cooking
- to Anna for entertainment

In [102]:
attendees = ['Rick', 'Kirby']
credits = {'cooking': 'Matthew', 'entertainment': 'Anna'}
print_invitations(*attendees, **credits)

The following people are invited:
- Rick
- Kirby
Thanks to the following people:
- to Matthew for cooking
- to Anna for entertainment

In [103]:
lst = list(range(10))

In [104]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
first, second, third, fourth, *rest, last = lst

In [109]:
first

0

In [110]:
rest

[4, 5, 6, 7, 8]

In [111]:
last

9

In [113]:
def divmod(a, b):
    quot = a // b
    rem = a % b
    return quot, rem

In [114]:
divmod(37, 4)

(9, 1)

In [115]:
q, r = divmod(37, 4)

In [116]:
q

9

In [117]:
r

1

# Exceptions

In [118]:
1 / 0

ZeroDivisionError: division by zero

In [119]:
try:
    1 / 0
except ZeroDivisionError:
    print('You tried to divide by zero!')

You tried to divide by zero!

In [120]:
try:
    1 / 0
except ZeroDivisionError:
    print('You tried to divide by zero!')
    raise

You tried to divide by zero!

ZeroDivisionError: division by zero

In [122]:
def withdraw(balance, amount):
    if amount < 0:
        raise ValueError('Amount must be positive!')
    else:
        return balance - amount

In [123]:
withdraw(100, 10)

90

In [124]:
withdraw(100, -10)

ValueError: Amount must be positive!

In [133]:
try:
    withdraw(100, -10)
except KeyError:
    print("Probably won't happen")
except ValueError as err:
    print('Sorry!', err)
except Exception: 
    print('Do something')
except:
    print('Some unhandled exception')
    raise
else:
    print('All good!')
finally:
    print('Finally!')

Sorry! Amount must be positive!
Finally!

# Lab

Open the [Core Syntax Lab][core-syntax-lab]

[core-syntax-lab]: ./core-syntax-lab.ipynb