# Functional Programming

- first class functions
- `lambda`
- higher-order functions `map`, `filter`, and `functools.reduce`
- list comprehensions

## Python Functions
* functions are "first class" objects, i.e., a program entity that can be created at runtime
 * assigned to a variable or element in a data structure
 * passed as an argument to a function
 * returned as the result of a function

In [1]:
def fact(n):
    '''returns n!
       More stuff
    '''
    if n < 2:
        return 1
    else:
        return n * fact(n - 1)
    
fact(3), fact(52)

(6, 80658175170943878571660636856403766975289505440883277824000000000000)

In [2]:
help(fact)

Help on function fact in module __main__:

fact(n)
    returns n!
    More stuff

In [3]:
fact.__doc__

'returns n!\n       More stuff\n    '

In [4]:
type(fact)

function

In [5]:
f = fact # let's take a look at www.pythontutor.com
f

In [6]:
f(8)

40320

## Lambda Functions
* the __`lambda`__ keyword creates an *anonymous* function within a Python expression
* body of __`lambda`__ functions limited to pure expressions, i.e.,
 * no assignments
 * no Python statements such as __`while`__, __`try`__, etc.
* best use of __`lambda`__ is in the context of an argument list

In [7]:
fruits = ['strawberry', 'banana', 'fig', 'apple', 'cherry',
          'kiwi']

In [8]:
def reverse(word):
    return word[::-1]

reverse('nutanix')

'xinatun'

In [9]:
sorted(fruits)

['apple', 'banana', 'cherry', 'fig', 'kiwi', 'strawberry']

In [10]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

In [11]:
sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

### Syntax for `lambda`

`lambda` arg1, arg2, ...: expr

```python
x = lambda x, y: expr(x, y)

# means

def x(x, y):
    return expr(x, y)
```

In [15]:
(lambda : 'foo' + 'bar')()

'foobar'

In [16]:
# how about sorting the list of fruits by the slice (pun
# intended) which discards the first and last characters,
# e.g., 'anan', 'ppl', etc.

sorted(fruits, key=lambda w: w[1:-1])

['banana', 'cherry', 'fig', 'kiwi', 'apple', 'strawberry']

In [17]:
from collections import defaultdict

dd = defaultdict(lambda:'hyperconvergence')
dd['nutanix']

'hyperconvergence'

## `map()`
* takes a function as its first argument returns an iterable where each item is the result of applying the function to successive elements of the second argument (an iterable)

In [18]:
def fact(n):
    '''returns n!
       More stuff
    '''
    if n < 2:
        return 1
    else:
        return n * fact(n - 1)

for n in range(9):
    print(n, fact(n))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320

In [19]:
def fact(n):
    '''returns n!
       More stuff
    '''
    if n < 2:
        return 1
    else:
        return n * fact(n - 1)
for result in map(fact, range(9)):
    print(result)

1
1
2
6
24
120
720
5040
40320

In [20]:
%%python2
print map(lambda x: x**2, range(5))

[0, 1, 4, 9, 16]

In [22]:
%%python3
print(map(lambda x: x**2, range(5)))
print(list(map(lambda x: x**2, range(5))))

<map object at 0x106951320>
[0, 1, 4, 9, 16]

In [23]:
for y in map(fact, range(9)):
    print(y)

1
1
2
6
24
120
720
5040
40320

In [24]:
'foo' * 2

'foofoo'

In [25]:
'-' * 40

'----------------------------------------'

In [27]:
# ['foo', 'bar'].join('-')
'-'.join(['foo', 'bar'])

'foo-bar'

In [28]:
# how about mapping '*' to a string?
# or mapping '**' to numbers?
''.join(map(lambda x: x * 2, 'themis'))

'tthheemmiiss'

In [29]:
list(map(lambda x: x ** 3, range(1, 10)))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [30]:
list(map(lambda a, b, c: a+b+c, 'abcde', 'fghij', 'klmno'))

['afk', 'bgl', 'chm', 'din', 'ejo']

In [31]:
x = list(range(10))
y = list(range(10, 50, 5))

In [50]:
z = map(lambda a, b: a+b, x, y)

In [51]:
list(z)

[10, 16, 22, 28, 34, 40, 46, 52]

## Higher-Order Functions
* a function that takes another function as an argument or returns a function as a result
 * __`map()`__ (as well as __`filter()`__ and __`reduce()`__)
 * __`sorted()`__–takes an optional key arg which lets you provide a function which is applied to each item for sorting

In [52]:
fruits = ['strawberry', 'banana', 'fig', 'apple', 'cherry', 'kiwi']
sorted(fruits)

['apple', 'banana', 'cherry', 'fig', 'kiwi', 'strawberry']

In [54]:
sorted(fruits, key=len, reverse=True)

['strawberry', 'banana', 'cherry', 'apple', 'kiwi', 'fig']

In [55]:
reverse

In [56]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'kiwi', 'strawberry', 'cherry']

## filter
* applies its first arg, a function, to its second argument
* if the function returns truthy, keep the element. Otherwise discard

In [57]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [58]:
def odd(num):
    return num % 2

list(filter(odd, range(20)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
list(map(odd, range(20)))

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [60]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
list(filter(lambda num: num % 2, range(20)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [62]:
# using filter and lambda, pull out all numbers divisible
# by 3 from a list of random numbers
# mylist = [33, 35, -3, 20, 6, 9, 20]
import random
mylist = [random.randint(-10, 100) for x in range(10)]
mylist

[7, -2, -1, 58, 27, 67, 50, 84, 45, 87]

In [63]:
list(filter(lambda num: num % 3 == 0, mylist))

[27, 84, 45, 87]

## We can further combine functions...

In [64]:
list(map(fact, filter(odd, range(12))))

[1, 6, 120, 5040, 362880, 39916800]

In [65]:
list(map(str, range(2, 11))) + list('JQKA')

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [66]:
'2 3 4 5 6 7 8 9 10 J Q K A'.split()

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

## reduce()
* produces a single aggregate result from a sequence of from any finite iterable object
* was built in to Python 2, but "demoted" to the __`functools`__ module in Python 3
* most common use of __`reduce()`__, summation, is better served by the __`sum()`__ builtin
* many examples of __`reduce()`__ are clearer when written as __`for`__ loops

In [67]:
from operator import add
help(add)

Help on built-in function add in module _operator:

add(a, b, /)
    Same as a + b.

In [73]:
from functools import reduce
from operator import add
lst = range(101)

In [74]:
%timeit reduce(add, lst)

5.54 µs ± 74.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [75]:
%timeit sum(lst)

922 ns ± 4.22 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [76]:
def add(accum, value):
    res = accum + value
    print('add({}, {}) => {}'.format(accum, value, res))
    return res

inp = list(range(20, 40))

In [77]:
reduce(add, inp)

add(20, 21) => 41
add(41, 22) => 63
add(63, 23) => 86
add(86, 24) => 110
add(110, 25) => 135
add(135, 26) => 161
add(161, 27) => 188
add(188, 28) => 216
add(216, 29) => 245
add(245, 30) => 275
add(275, 31) => 306
add(306, 32) => 338
add(338, 33) => 371
add(371, 34) => 405
add(405, 35) => 440
add(440, 36) => 476
add(476, 37) => 513
add(513, 38) => 551
add(551, 39) => 590

590

# List comprehensions 

Making functional programming easier...

`{ x | x e R if x is even}`

In [79]:
%timeit [x * 2 for x in range(500)]

28.8 µs ± 292 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [80]:
%timeit list(map(lambda x: x * 2, range(500)))

53.7 µs ± 172 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [81]:
def f():
    lst = []
    for x in range(500):
        lst.append(x * 2)
    return lst

In [82]:
%timeit f()

53 µs ± 610 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [83]:
[(x, y) for x in range(4) for y in range(4) ]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [84]:
lst = []
for x in range(4):
    for y in range(4):
        lst.append((x, y))
lst

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [85]:
[
    [(r, c) for c in range(4)] 
    for r in range(4)
]

[[(0, 0), (0, 1), (0, 2), (0, 3)],
 [(1, 0), (1, 1), (1, 2), (1, 3)],
 [(2, 0), (2, 1), (2, 2), (2, 3)],
 [(3, 0), (3, 1), (3, 2), (3, 3)]]

In [86]:
[x**3 + y 
 for x in range(20) 
 if x % 3 == 0 
 if x % 2 == 0 
 for y in [2,3]]

[2, 3, 218, 219, 1730, 1731, 5834, 5835]

In [87]:
lst = []
for x in range(20):
    if x % 3 == 0:
        if x % 2 == 0:
            for y in [2,3]:
                lst.append(x ** 3 + y)
lst

[2, 3, 218, 219, 1730, 1731, 5834, 5835]

In [88]:
''.join(filter(
    lambda ch: ch.isalpha(), 
    'this is the time for all good developers'))

'thisisthetimeforallgooddevelopers'

In [90]:
''.join([
    ch 
    for ch in 'this is the time for all good developers' 
    if ch.isalpha()
])

'thisisthetimeforallgooddevelopers'

# Lab

Open [Functional Programming Lab][functional-lab]

[functional-lab]: ./functional-lab.ipynb